<article class='post'>
<div class="card">
  <div class="card-header text-dark">
    {{title}}
  </div>
  <div class="card-body">
    <h5 class="card-title text-dark">{{post_url}}</h5>
  <div class='meta text-dark'>
    {{vote_count}}
    {{format_plural 'point' vote_count}}
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href='/post/{{id}}'>{{comments.length}}
      {{format_plural 'comment' comments.length}}</a>
  </div>
  </div>
</div>
</article>


